{% extends 'navbar.html'%}
{% block content %}
{% load static %}


<section id="about" class="about">
<div class="container" data-aos="fade-up">



  <div class="col-lg-6d-flex" class="'content">
   
    <br><br>



{% if messages %}
{% for i in messages %}
{% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert alert-success">
  {{i}}

</div>
{% endif%}
{% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger">
  {{i}}

</div>
{%endif%}
{%endfor%}
{%endif%}
 






 <h1>Booked Details</h1>
    <table class="table table-striped">
        <th>
            <th>Sender name</th>
            <th>Phone number</th>
            <th>weight</th>
            <th>status</th>
        </th><br>
        {% for i in book %}
        <tr>
            <td>{{i.detail.shiip.person.firstname}}<td>
            <td>{{i.detail.shiip.person.phn}}</td>
            <td>{{i.detail.Weight}}</td>
            <td>{{i.Status}}</td>
        </tr>
        {%endfor%}
    </table>
      
 </div>

</div>
</section>
     
      {% endblock content %}

  



    
    

 