{% extends 'navbar.html'%}
{% block content %}
{% load static %}


    <section id="about" class="about">
    <div class="container" data-aos="fade-up">
    <div class=" content">
      <div class="row gy-4">
        <div class="col-lg-12 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'img/Top-Benefits-Of-Choosing-The-Right-Courier-Services-7.jpeg' %}" class="img-fluid" alt="">
          <img src="{% static 'img/Top-Benefits-Of-Choosing-The-Right-Courier-Services-7.jpeg' %}" class="img-fluid" alt="">
          <br>
        </div>

    
      <form action="" method="POST">
        {% csrf_token%}
        <div class="col-md-12">
          <label for=""><h6>length(cm):</h6></label>
          <input type="number" name="" class="form-control" placeholder="0" required>
        </div><br>
        <div class="col-md-12">
          <label for=""><h6>Width(cm):</h6></label>
          <input type="number" name="" class="form-control" placeholder="0" required>
        </div><br>
        <div class="col-md-12">
          <label for=""><h6>Height(cm):</h6></label>
          <input type="text" name="" class="form-control" placeholder="0" required>
        </div><br>
        <div class="col-md-12">
        <label for="Weight"><h6>Weight(kg):</h6></label>
        <input type="number" class="form-control" name="Weight" step="0.01" placeholder="0" required><br>
        <input type="submit" value="calculate price">
        </div>
      </form>
    </div>
    </div>
    </section>
    

      {% endblock content %}
    
 