{% extends 'navbar.html'%}
{% block content %}
{% load static %}

   
   <section id="about" class="about">

    <!-- <div class="container" data-aos="fade-up"> -->
      
      <!-- <div class=" content"> -->
      <!-- <h5><i>Near by services</i></h5> -->
       {% for i in data %}
       <div class="container" data-aos="fade-up">
       <!-- <div class="col"> -->
        <div class=" content">
          <div class="col">
        <ul class="list-group jumbotron">
            <li class="list-group-item">{{i.name}}</li>
            <li class="list-group-item">{{i.address}}</li>
            <li class="list-group-item">{{i.contact}}</li>
            <li class="list-group-item">
              <button  class="btn btn-success ">call</button>
              <button  class="btn btn-danger ">message</button>
              <a href="{% url 'cont'%}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Add Details</span>
                <i class="bi bi-arrow-right"></i>
              </a>
              <!-- <button class="btn btn-info"> Order

              </button> -->
              


            </li>
            
            
        </ul>   
       </div> 
        
      </div>
    </div>
    </section>  
       
       {%endfor%} 
       {% endblock content %}


     