{% extends 'navbar.html'%}
{% block content %}
{% load static %}

   
   <section id="about" class="about">

  
       {% for i in data %}
       <div class="container" data-aos="fade-up">
        <div class=" content">
          <div class="col">
        <ul class="list-group jumbotron">
            <li class="list-group-item">{{i.name}}</li>
            <li class="list-group-item">{{i.address}}</li>
            <li class="list-group-item">{{i.contact}}</li>
            <li class="list-group-item">
              <button  class="btn btn-success ">call</button>
              <button  class="btn btn-danger ">message</button>
              
           
              


            </li>
            
            
        </ul>   
       </div> 
        
      </div>
    </div>
    </section>  
       
       {%endfor%} 
       {% endblock content %}


     